[Unit]
Description=Gunicorn server for {SITENAME}

[Service]
Restart=on-failure
User={USER}
Environment=EMAIL_HOST={EMAIL_HOST}
Environment=EMAIL_USER={EMAIL_USER}
Environment=EMAIL_PASSWORD={EMAIL_PASSWORD}
WorkingDirectory=/home/{USER}/sites/{SITENAME}/source
ExecStart=/home/{USER}/sites/{SITENAME}/virtualenv/bin/gunicorn \
    --bind unix:/tmp/{SITENAME}.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
